<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <connectionStrings>
    <add name="development" connectionString="Data Source=WARMACHINE\SQLEXPRESS;Initial Catalog=MovieStudio;Integrated Security=True"/>
    <add name="production" connectionString="Data Source=WARMACHINE\SQLEXPRESS;Initial Catalog=MovieStudio;Integrated Security=True"/>
  </connectionStrings>
  
  <appSettings>
    <add key="BAL_SQL" value="1"/>
  </appSettings>
  
</configuration>
